html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "thin";
  src: url("../../public/Font/eot/PeydaWeb-Thin.eot") format("eot");
  src: url("../../public/Font/woff/PeydaWeb-Thin.woff") format("woff");
  src: url("../../public/Font/woff2/PeydaWeb-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "regular";
  src: url("../../public/Font/eot/PeydaWeb-Regular.eot") format("eot");
  src: url("../../public/Font/woff/PeydaWeb-Regular.woff") format("woff");
  src: url("../../public/Font/woff2/PeydaWeb-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "medium";
  src: url("../../public/Font/eot/PeydaWeb-Medium.eot") format("eot");
  src: url("../../public/Font/woff/PeydaWeb-Medium.woff") format("woff");
  src: url("../../public/Font/woff2/PeydaWeb-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "black";
  src: url("../../public/Font/eot/PeydaWeb-Black.eot") format("eot");
  src: url("../../public/Font/woff/PeydaWeb-Black.woff") format("woff");
  src: url("../../public/Font/woff2/PeydaWeb-Black.woff2") format("woff2");
}
html, body {
  direction: rtl;
}

.Header {
  height: 50px;
  background: #282f46;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Header .Lft {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 20px 0px 0px;
}
.Header .Lft img {
  width: 40px;
  margin: 0px 10px;
}
.Header .Lft h1 {
  font-family: "black";
  color: #F8F8FF;
  font-size: 15pt;
}
.Header .Cnt input {
  height: 27px;
  width: 270px;
  border-radius: 5px;
  background: #F8F8FF;
  font-family: "regular";
  text-align: center;
}
.Header .Cnt input:focus {
  outline: 0px #282f46 solid;
  box-shadow: 0px 0px 2px 1px #caa138;
}
.Header .Rgt {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 0px 20px;
}
.Header .Rgt button {
  background: transparent;
  border: 1px #F8F8FF solid;
  height: 27px;
  width: 90px;
  border-radius: 5px;
  font-family: "regular";
  color: #F8F8FF;
  font-size: 9pt;
}
.Header .Rgt button:focus {
  outline: 0px #282f46 solid;
  box-shadow: 0px 0px 2px 1px #caa138;
}/*# sourceMappingURL=Style.css.map */